* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.main-header {
  padding: 15px;
}

.logo {
  width: 48px;
  height: 48px;
}

.burger {
  width: 30px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.burger-line {
  display: block;
  height: 2px;
  background-color: #000;
}
